[submodule "pmml2js"]
	path = public/pmml2js
	url = https://github.com/frostyandy2k/pmml2js
[submodule "jActivity2PMML"]
	path = public/jActivity2PMML
	url = https://github.com/teco-kit/jActivity2PMML
